!.gitignore

/www/download/**
/www/favicon.ico
/www/images/**

/src/source/**
/src/work*
/src/minimal_linux_live*
/src/*.img
/src/rootfs*
src/ipxe/**
/src/15_scpto140.sh
src/16_scpto3.sh
src/build_minimal_qllinux.sh
src/20*OK
src/minimal_config/**

/docs/mdbook
/docs/book/**
/docs/src/theme/**

